<div class="container">
<h1>Create a Useless account</h1>
<form method="post" type="/register">
Email: <input type="text" value="example@mail.com" name="email" size="23" align="right"><br>
Full Name: <input type="text" value="John Doe" name="name" size="23" align="right"><br>
Password: <input type="password" name="password" size="23" align="right"><br>
<input type="submit">
</form>
<div>